* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-blue: rgb(132, 230, 208);
  --secondary-blue: rgb(79, 224, 193);
}
.App {
  font-family: sans-serif;
  background: linear-gradient(var(--primary-blue), var(--secondary-blue));
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 60px;
}
button {
  margin: 20px;
  padding: 10px 30px;
  border-radius: 0.7rem;
  cursor: pointer;
}
button:hover {
  background-color: grey;
}
button:active {
  background-color: rgb(132, 230, 208);
}
.card {
  display: flex;
  background-color: white;
  box-shadow: 0 15px 30px 1px grey;
  border-radius: 5px;
  height: 220px;
  width: 900px;
  padding: 20px;
  margin: 20px;
}
.content {
  max-width: 220px;
  padding: 10px;
  text-align: left;
}
.img {
  max-width: 100%;
  height: 100%;
}
